{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
        <h1>Rango says...</h1>
        <div>
        <strong>Here is the about page.</strong>
        <strong>This tutorial has been put together by Tingyu Ma</strong><br />

        <p>Visits: {{ visits }}</p>
        <br />

        <a href="/rango/">Index</a><br />
        <img src="{% static 'rango.jpg' %}" alt="Picture of Rango" />
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" />
        </div>
{% endblock %}
